.container {

}

.header {
    background: black;
    color: white;
    width: 100%;
    font-size: 16pt;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.mainArea {
    display: grid;
    grid-template-columns: 67% 33%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.wideRow {
    grid-column-start: span 2;
    background-color: #1f69c0;
}