.header {
    display: flex;
    align-items: flex-start;
    background: black;
    color: white;
    font-size: 16pt;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
}

.title {
    width: max-content;
}

.authButtons {
    width: max-content;
    margin-left: auto;
}

.authButtons a {
    color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageBody {
    width: 100%;
    overflow: hidden;
    
}
