.header {
    display: flex;
    align-items: flex-end;
    background: black;
    color: white;
    font-size: 16pt;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
}

.title {
    width: max-content;
}

.versionInfo {
    font-size: 10pt;
    margin-left: 0.8em;
}

.authButtons {
    width: max-content;
    margin-left: auto;
}

.authButtons a {
    color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageBody {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.selectedPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.versionLink {
    color: white;
    text-decoration: none;
}

.versionLink:hover {
    text-decoration: underline;
}