
.mainwidget {
    display: grid;
    grid-template-columns: 67% 33%;
    /* maybe we will reintroduce the second row some time*/
    /*grid-template-rows: 80% auto;*/
    height: 100%;
}

.mainRow {
    grid-row: 1;
    overflow: scroll;
    margin-top: 0.5em;
}

.wideRow {
    grid-column-start: span 2;
    background-color: #1f69c0;
    overflow: scroll;
}