.LoginBox {
    width: 40%;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-radius: 0.5em;
}

.LoginBox img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.loginerror {
    background-color: indianred;
    margin-bottom: 0.5em;
}

#nodecontainer {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    grid-column-start: auto;
    grid-column-end: auto;
}

.node {
    background-color: aliceblue;
    border-radius: 0.5em;
}

.node-unknown {
    background-color: grey;
}

.node-good {
    background-color: lightgreen;
}

.node-bad {
    background-color: palevioletred;
}
