{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{block "extrahead" .}}{{ end }}
    <link rel="stylesheet" href="/static/dashboard.css" type="text/css"/>
</head>
<body>
{{template "body" .}}
</body>
</html>
{{end}}