{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{block "extrahead" .}}{{ end }}
    <link rel="stylesheet" href="{{ .StaticPath }}/dashboard.css" type="text/css"/>
</head>
<body>
{{template "body" .}}
<div class="footer">ACNode Dashboard version <a href="https://github.com/londonhackspace/acnode-dashboard/commit/{{ .Version }}">{{ .Version }}</a><br>
Yes, it's ugly. Looking nice is a future feature.</div>
</body>
</html>
{{end}}