name: Publish Docker image
on: [push]
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
          uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
          uses: docker/build-push-action@v2
          with:
            context: .
            platforms: linux/amd64
            push: true
            tags: |
              ghcr.io/londonhackspace/acnode-dash:latest
              ghcr.io/londonhackspace/acnode-dash:0.1
