name: Publish Docker image
on:
  push:
    branches-ignore:
      - 'main'
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # https://stackoverflow.com/questions/58033366/how-to-get-current-branch-within-github-actions
      # Also replaces / with _ to make a valid tag name
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(TMP=${GITHUB_REF#refs/heads/}; echo ${TMP/\//_})"
        id: extract_branch
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            docker.pkg.github.com/londonhackspace/acnode-dashboard/acnode-dashboard:${{ steps.extract_branch.outputs.branch }}
